.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 620px;
    min-height: 500px;
    background: transparent;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 32px;
    margin: 20px 60px;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4px auto;
    width: 80%;
}

.todo-list-date {
    margin-top: 2px;
    font-size: 20px;
    color: #9ea1a8;
}
