.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #2a292a;
    background: #fff;
    font-size: 14px;
    padding: 16px;
    border-radius: 13px;
    width: 80%;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-checkbox {
    accent-color: #e0e0e6;
}

.todo-edit {
    margin-right: 10px;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0);
    color: #2a292a;
    font-size: 14px;
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #2a292a;
}

.edit-icon, .delete-icon {
    user-select: none;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
    transition: 0.1s;
}

.delete-icon {
    font-size: 25px;
}

.delete-icon:hover, .edit-icon:hover {
   color: #888888;
}