.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #2a292a;
    background: #fff;
    font-size: 14px;
    padding: 16px;
    border-radius: 13px;
    width: 80%;
    box-shadow: 2px 2px rgba(42, 42, 42, 0.05);
}

.complete-text {
    text-decoration: line-through;
}

.complete-row {
    opacity: 0.4;
}

.todo-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-checkbox {
    accent-color: #e0e0e6;
}

.todo-edit {
    margin-right: 10px;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0);
    color: #2a292a;
    font-size: 14px;
    width: 100%;
}

.todo-parent {
    background-color: #cdcdcd;
    padding: 2px;
    border-radius: 13px;
    cursor: pointer;
    transition: 0.1s;
}

.todo-parent:hover {
    background-color: #dcdcdc;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #2a292a;
}

.edit-icon,
.delete-icon {
    user-select: none;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
    transition: 0.1s;
}

.delete-icon {
    font-size: 25px;
}

.delete-icon:hover,
.edit-icon:hover {
    color: #888888;
}
